
.badge {
    color: var(--tw-gray-700);
    border-color: transparent;
    background-color: var(--tw-gray-200)
}

.badge-outline {
    color: var(--tw-gray-600);
    border-color: var(--tw-gray-300);
    background-color: var(--tw-gray-100)
}

.badge-primary {
    color: #fff;
    background-color: var(--tw-primary)
}

.badge-outline.badge-primary {
    color: var(--tw-primary);
    background-color: var(--tw-primary-light);
    border-color: var(--tw-primary-clarity)
}

.badge-success {
    color: #fff;
    background-color: var(--tw-success)
}

.badge-outline.badge-success {
    color: var(--tw-success);
    background-color: var(--tw-success-light);
    border-color: var(--tw-success-clarity)
}

.badge-danger {
    color: #fff;
    background-color: var(--tw-danger)
}

.badge-outline.badge-danger {
    color: var(--tw-danger);
    background-color: var(--tw-danger-light);
    border-color: var(--tw-danger-clarity)
}

.badge-warning {
    color: #fff;
    background-color: var(--tw-warning)
}

.badge-outline.badge-warning {
    color: var(--tw-warning);
    background-color: var(--tw-warning-light);
    border-color: var(--tw-warning-clarity)
}

.badge-info {
    color: #fff;
    background-color: var(--tw-info)
}

.badge-outline.badge-info {
    color: var(--tw-info);
    background-color: var(--tw-info-light);
    border-color: var(--tw-info-clarity)
}

.badge-outline.badge-dark {
    color: var(--tw-dark);
    background-color: var(--tw-dark-light);
    border-color: var(--tw-dark-clarity)
}

.rating {
    display: inline-flex;
    align-items: stretch
}

.rating input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
    inset-inline-start: 9999px
}
