<img
  *ngIf="!container"
  #imageElement
  [class]="imgclass"
  [style]="'height:{{height}}'"
  [src]="(url + src)"
  width="{{width}}"
  height="{{height}}"
  [alt]="alt"
  decoding="async"
  [attr.loading]="'lazy'">

<div
  *ngIf="container"
  #imageElementContainer
  [class]="imgclass"
  class="img-container"
  [style.height.px]="height"
  [style.width.px]="width">
  <div *ngIf="!loaded" class="img-placeholder"></div>
  <img
    *ngIf="loaded"
    class="img"
    [src]="(url + src)"
    [alt]="alt"
    decoding="async"
    [attr.loading]="'lazy'">
</div>
