
<main *ngIf="false" class="p-4 md:ml-auto h-auto">
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-4 mb-4">
        <a class="block p-6 bg-gray-200 rounded text-sm">
            <div class="flex flex-row">
                <div class="left-0">
                    <div class="text-gray-700">
                        <span class="font-medium">Active Orders: </span> <span class="font-bold">006</span>
                    </div>
                    <div>
                        +2%
                    </div>
                </div>
                <div class="bg-white rounded border text-gray-400 border-gray-300 py-2 px-4 ml-auto font-bold">UGX 200K</div>                
            </div>
        </a>
        <a class="block p-6 bg-gray-200 rounded text-sm">
            <div class="flex flex-row">
                <div class="left-0">
                    <div class="text-gray-700">
                        <span class="font-medium">Orders Today: </span> <span class="font-bold">134</span>
                    </div>
                    <div>
                        +2%
                    </div>
                </div>
                <div class="bg-white rounded border text-gray-400 border-gray-300 py-2 px-4 ml-auto font-bold">UGX 200K</div>                
            </div>
        </a>
        <a class="block p-6 bg-gray-200 rounded text-sm">
            <div class="flex flex-row">
                <div class="left-0">
                    <div class="text-gray-700">
                        <span class="font-medium">Tables Served: </span> <span class="font-bold">006</span>
                    </div>
                    <div>
                        +2%
                    </div>
                </div>
                <div class="bg-white rounded border text-gray-400 border-gray-300 py-2 px-4 ml-auto font-bold">UGX 200K</div>                
            </div>
        </a>
    </div>
  <div *ngIf="false" class="grid grid-cols-1 lg:grid-cols-3 gap-4 mb-4">
    <div class="flex flex-col border border-dashed border-black rounded-lg">
        <div class="bg-black m-4 rounded text-white p-4">
            <div class="flex flex-row">
                <h4 class="text-white">Total Sales Today</h4>
                <a class="ml-auto">
                    <svg fill="#ffffff" height="25px" width="25px" viewBox="0 0 282.772 282.772">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier">
                            <g>
                                <path d="M61.472,143.036H23.881c-4.971,0-9,4.029-9,9v94.185c0,4.971,4.029,9,9,9h37.591c4.971,0,9-4.029,9-9v-94.185 C70.472,147.065,66.443,143.036,61.472,143.036z M52.472,237.22H32.881v-76.185h19.591V237.22z">
                                </path>
                                <path d="M132.238,93.194H94.648c-4.971,0-9,4.029-9,9V246.22c0,4.971,4.029,9,9,9h37.591c4.971,0,9-4.029,9-9V102.194 C141.238,97.224,137.209,93.194,132.238,93.194z M123.238,237.22h-19.591V111.194h19.591V237.22z">
                                </path>
                                <path d="M203.005,150.471h-37.591c-4.971,0-9,4.029-9,9v86.749c0,4.971,4.029,9,9,9h37.591c4.971,0,9-4.029,9-9v-86.749 C212.005,154.5,207.976,150.471,203.005,150.471z M194.005,237.22h-19.591v-68.749h19.591V237.22z">
                                </path>
                                <path d="M273.772,96.516H236.18c-4.971,0-9,4.029-9,9V246.22c0,4.971,4.029,9,9,9h37.591c4.971,0,9-4.029,9-9V105.516 C282.772,100.545,278.742,96.516,273.772,96.516z M264.772,237.22H245.18V114.516h19.591V237.22z">
                                </path>
                                <path d="M178.918,112.796c3.276,2.381,7.739,2.28,10.905-0.246l67.269-53.682l-0.298,8.847c-0.167,4.968,3.724,9.131,8.692,9.298 c0.104,0.003,0.206,0.005,0.309,0.005c4.831,0,8.826-3.833,8.99-8.697l1.061-31.466c0.083-2.491-0.869-4.905-2.631-6.667 c-1.762-1.763-4.184-2.719-6.667-2.631l-31.466,1.061c-4.968,0.167-8.859,4.331-8.692,9.298c0.167,4.967,4.314,8.85,9.298,8.692 l8.261-0.278l-59.993,47.876l-68.22-49.585c-2.988-2.172-7-2.298-10.117-0.317L4.176,108.734 c-4.196,2.665-5.437,8.227-2.772,12.422c1.715,2.7,4.628,4.176,7.605,4.176c1.65,0,3.321-0.454,4.817-1.404l96.276-61.15 L178.918,112.796z">
                                </path>
                            </g>
                        </g>
                    </svg>
                </a>
            </div>
        
            <div class="text-2xl mt-3">
                UGX 350
            </div>
            <div class="text-sm mb-3">Amount</div>
        </div>
        <div class="bg-gray-200 m-4 -mt-1 rounded text-black p-4">
            <div class="flex flex-row">
                <h4 class="text-black">Total Sales Number</h4>                    
                <a class="ml-auto">
                    <svg fill="#000000" height="25px" width="25px" viewBox="0 0 282.772 282.772">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier">
                            <g>
                                <path d="M61.472,143.036H23.881c-4.971,0-9,4.029-9,9v94.185c0,4.971,4.029,9,9,9h37.591c4.971,0,9-4.029,9-9v-94.185 C70.472,147.065,66.443,143.036,61.472,143.036z M52.472,237.22H32.881v-76.185h19.591V237.22z">
                                </path>
                                <path d="M132.238,93.194H94.648c-4.971,0-9,4.029-9,9V246.22c0,4.971,4.029,9,9,9h37.591c4.971,0,9-4.029,9-9V102.194 C141.238,97.224,137.209,93.194,132.238,93.194z M123.238,237.22h-19.591V111.194h19.591V237.22z">
                                </path>
                                <path d="M203.005,150.471h-37.591c-4.971,0-9,4.029-9,9v86.749c0,4.971,4.029,9,9,9h37.591c4.971,0,9-4.029,9-9v-86.749 C212.005,154.5,207.976,150.471,203.005,150.471z M194.005,237.22h-19.591v-68.749h19.591V237.22z">
                                </path>
                                <path d="M273.772,96.516H236.18c-4.971,0-9,4.029-9,9V246.22c0,4.971,4.029,9,9,9h37.591c4.971,0,9-4.029,9-9V105.516 C282.772,100.545,278.742,96.516,273.772,96.516z M264.772,237.22H245.18V114.516h19.591V237.22z">
                                </path>
                                <path d="M178.918,112.796c3.276,2.381,7.739,2.28,10.905-0.246l67.269-53.682l-0.298,8.847c-0.167,4.968,3.724,9.131,8.692,9.298 c0.104,0.003,0.206,0.005,0.309,0.005c4.831,0,8.826-3.833,8.99-8.697l1.061-31.466c0.083-2.491-0.869-4.905-2.631-6.667 c-1.762-1.763-4.184-2.719-6.667-2.631l-31.466,1.061c-4.968,0.167-8.859,4.331-8.692,9.298c0.167,4.967,4.314,8.85,9.298,8.692 l8.261-0.278l-59.993,47.876l-68.22-49.585c-2.988-2.172-7-2.298-10.117-0.317L4.176,108.734 c-4.196,2.665-5.437,8.227-2.772,12.422c1.715,2.7,4.628,4.176,7.605,4.176c1.65,0,3.321-0.454,4.817-1.404l96.276-61.15 L178.918,112.796z">
                                </path>
                            </g>
                        </g>
                    </svg>
                </a>
            </div>
        
            <div class="text-2xl my-3">
                10
            </div>
            <!-- <div class="text-sm mb-3">Number</div> -->
        </div>
        <div>

        </div>
    </div>
    <div class="flex flex-col border border-dashed border-black rounded-lg">
        <div class="bg-black m-4 rounded text-white p-4">
            <div class="flex flex-row">
                <h4 class="text-white">Total Sales Today</h4>
                <a class="ml-auto">
                    <svg fill="#ffffff" height="25px" width="25px" viewBox="0 0 282.772 282.772">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier">
                            <g>
                                <path d="M61.472,143.036H23.881c-4.971,0-9,4.029-9,9v94.185c0,4.971,4.029,9,9,9h37.591c4.971,0,9-4.029,9-9v-94.185 C70.472,147.065,66.443,143.036,61.472,143.036z M52.472,237.22H32.881v-76.185h19.591V237.22z">
                                </path>
                                <path d="M132.238,93.194H94.648c-4.971,0-9,4.029-9,9V246.22c0,4.971,4.029,9,9,9h37.591c4.971,0,9-4.029,9-9V102.194 C141.238,97.224,137.209,93.194,132.238,93.194z M123.238,237.22h-19.591V111.194h19.591V237.22z">
                                </path>
                                <path d="M203.005,150.471h-37.591c-4.971,0-9,4.029-9,9v86.749c0,4.971,4.029,9,9,9h37.591c4.971,0,9-4.029,9-9v-86.749 C212.005,154.5,207.976,150.471,203.005,150.471z M194.005,237.22h-19.591v-68.749h19.591V237.22z">
                                </path>
                                <path d="M273.772,96.516H236.18c-4.971,0-9,4.029-9,9V246.22c0,4.971,4.029,9,9,9h37.591c4.971,0,9-4.029,9-9V105.516 C282.772,100.545,278.742,96.516,273.772,96.516z M264.772,237.22H245.18V114.516h19.591V237.22z">
                                </path>
                                <path d="M178.918,112.796c3.276,2.381,7.739,2.28,10.905-0.246l67.269-53.682l-0.298,8.847c-0.167,4.968,3.724,9.131,8.692,9.298 c0.104,0.003,0.206,0.005,0.309,0.005c4.831,0,8.826-3.833,8.99-8.697l1.061-31.466c0.083-2.491-0.869-4.905-2.631-6.667 c-1.762-1.763-4.184-2.719-6.667-2.631l-31.466,1.061c-4.968,0.167-8.859,4.331-8.692,9.298c0.167,4.967,4.314,8.85,9.298,8.692 l8.261-0.278l-59.993,47.876l-68.22-49.585c-2.988-2.172-7-2.298-10.117-0.317L4.176,108.734 c-4.196,2.665-5.437,8.227-2.772,12.422c1.715,2.7,4.628,4.176,7.605,4.176c1.65,0,3.321-0.454,4.817-1.404l96.276-61.15 L178.918,112.796z">
                                </path>
                            </g>
                        </g>
                    </svg>
                </a>
            </div>
        
            <div class="text-2xl mt-3">
                UGX 350
            </div>
            <div class="text-sm mb-3">Amount</div>
        </div>
        <div class="bg-gray-200 m-4 -mt-1 rounded text-black p-4">
            <div class="flex flex-row">
                <h4 class="text-black">Total Sales Number</h4>                    
                <a class="ml-auto">
                    <svg fill="#000000" height="25px" width="25px" viewBox="0 0 282.772 282.772">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier">
                            <g>
                                <path d="M61.472,143.036H23.881c-4.971,0-9,4.029-9,9v94.185c0,4.971,4.029,9,9,9h37.591c4.971,0,9-4.029,9-9v-94.185 C70.472,147.065,66.443,143.036,61.472,143.036z M52.472,237.22H32.881v-76.185h19.591V237.22z">
                                </path>
                                <path d="M132.238,93.194H94.648c-4.971,0-9,4.029-9,9V246.22c0,4.971,4.029,9,9,9h37.591c4.971,0,9-4.029,9-9V102.194 C141.238,97.224,137.209,93.194,132.238,93.194z M123.238,237.22h-19.591V111.194h19.591V237.22z">
                                </path>
                                <path d="M203.005,150.471h-37.591c-4.971,0-9,4.029-9,9v86.749c0,4.971,4.029,9,9,9h37.591c4.971,0,9-4.029,9-9v-86.749 C212.005,154.5,207.976,150.471,203.005,150.471z M194.005,237.22h-19.591v-68.749h19.591V237.22z">
                                </path>
                                <path d="M273.772,96.516H236.18c-4.971,0-9,4.029-9,9V246.22c0,4.971,4.029,9,9,9h37.591c4.971,0,9-4.029,9-9V105.516 C282.772,100.545,278.742,96.516,273.772,96.516z M264.772,237.22H245.18V114.516h19.591V237.22z">
                                </path>
                                <path d="M178.918,112.796c3.276,2.381,7.739,2.28,10.905-0.246l67.269-53.682l-0.298,8.847c-0.167,4.968,3.724,9.131,8.692,9.298 c0.104,0.003,0.206,0.005,0.309,0.005c4.831,0,8.826-3.833,8.99-8.697l1.061-31.466c0.083-2.491-0.869-4.905-2.631-6.667 c-1.762-1.763-4.184-2.719-6.667-2.631l-31.466,1.061c-4.968,0.167-8.859,4.331-8.692,9.298c0.167,4.967,4.314,8.85,9.298,8.692 l8.261-0.278l-59.993,47.876l-68.22-49.585c-2.988-2.172-7-2.298-10.117-0.317L4.176,108.734 c-4.196,2.665-5.437,8.227-2.772,12.422c1.715,2.7,4.628,4.176,7.605,4.176c1.65,0,3.321-0.454,4.817-1.404l96.276-61.15 L178.918,112.796z">
                                </path>
                            </g>
                        </g>
                    </svg>
                </a>
            </div>
        
            <div class="text-2xl my-3">
                10
            </div>
            <!-- <div class="text-sm mb-3">Number</div> -->
        </div>
        <div>

        </div>
    </div>
    <div class="flex flex-col border border-dashed border-black rounded-lg">
        <div class="bg-black m-4 rounded text-white p-4">
            <div class="flex flex-row">
                <h4 class="text-white">Total Sales Today</h4>
                <a class="ml-auto">
                    <svg fill="#ffffff" height="25px" width="25px" viewBox="0 0 282.772 282.772">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier">
                            <g>
                                <path d="M61.472,143.036H23.881c-4.971,0-9,4.029-9,9v94.185c0,4.971,4.029,9,9,9h37.591c4.971,0,9-4.029,9-9v-94.185 C70.472,147.065,66.443,143.036,61.472,143.036z M52.472,237.22H32.881v-76.185h19.591V237.22z">
                                </path>
                                <path d="M132.238,93.194H94.648c-4.971,0-9,4.029-9,9V246.22c0,4.971,4.029,9,9,9h37.591c4.971,0,9-4.029,9-9V102.194 C141.238,97.224,137.209,93.194,132.238,93.194z M123.238,237.22h-19.591V111.194h19.591V237.22z">
                                </path>
                                <path d="M203.005,150.471h-37.591c-4.971,0-9,4.029-9,9v86.749c0,4.971,4.029,9,9,9h37.591c4.971,0,9-4.029,9-9v-86.749 C212.005,154.5,207.976,150.471,203.005,150.471z M194.005,237.22h-19.591v-68.749h19.591V237.22z">
                                </path>
                                <path d="M273.772,96.516H236.18c-4.971,0-9,4.029-9,9V246.22c0,4.971,4.029,9,9,9h37.591c4.971,0,9-4.029,9-9V105.516 C282.772,100.545,278.742,96.516,273.772,96.516z M264.772,237.22H245.18V114.516h19.591V237.22z">
                                </path>
                                <path d="M178.918,112.796c3.276,2.381,7.739,2.28,10.905-0.246l67.269-53.682l-0.298,8.847c-0.167,4.968,3.724,9.131,8.692,9.298 c0.104,0.003,0.206,0.005,0.309,0.005c4.831,0,8.826-3.833,8.99-8.697l1.061-31.466c0.083-2.491-0.869-4.905-2.631-6.667 c-1.762-1.763-4.184-2.719-6.667-2.631l-31.466,1.061c-4.968,0.167-8.859,4.331-8.692,9.298c0.167,4.967,4.314,8.85,9.298,8.692 l8.261-0.278l-59.993,47.876l-68.22-49.585c-2.988-2.172-7-2.298-10.117-0.317L4.176,108.734 c-4.196,2.665-5.437,8.227-2.772,12.422c1.715,2.7,4.628,4.176,7.605,4.176c1.65,0,3.321-0.454,4.817-1.404l96.276-61.15 L178.918,112.796z">
                                </path>
                            </g>
                        </g>
                    </svg>
                </a>
            </div>
        
            <div class="text-2xl mt-3">
                UGX 350
            </div>
            <div class="text-sm mb-3">Amount</div>
        </div>
        <div class="bg-gray-200 m-4 -mt-1 rounded text-black p-4">
            <div class="flex flex-row">
                <h4 class="text-black">Total Sales Number</h4>                    
                <a class="ml-auto">
                    <svg fill="#000000" height="25px" width="25px" viewBox="0 0 282.772 282.772">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier">
                            <g>
                                <path d="M61.472,143.036H23.881c-4.971,0-9,4.029-9,9v94.185c0,4.971,4.029,9,9,9h37.591c4.971,0,9-4.029,9-9v-94.185 C70.472,147.065,66.443,143.036,61.472,143.036z M52.472,237.22H32.881v-76.185h19.591V237.22z">
                                </path>
                                <path d="M132.238,93.194H94.648c-4.971,0-9,4.029-9,9V246.22c0,4.971,4.029,9,9,9h37.591c4.971,0,9-4.029,9-9V102.194 C141.238,97.224,137.209,93.194,132.238,93.194z M123.238,237.22h-19.591V111.194h19.591V237.22z">
                                </path>
                                <path d="M203.005,150.471h-37.591c-4.971,0-9,4.029-9,9v86.749c0,4.971,4.029,9,9,9h37.591c4.971,0,9-4.029,9-9v-86.749 C212.005,154.5,207.976,150.471,203.005,150.471z M194.005,237.22h-19.591v-68.749h19.591V237.22z">
                                </path>
                                <path d="M273.772,96.516H236.18c-4.971,0-9,4.029-9,9V246.22c0,4.971,4.029,9,9,9h37.591c4.971,0,9-4.029,9-9V105.516 C282.772,100.545,278.742,96.516,273.772,96.516z M264.772,237.22H245.18V114.516h19.591V237.22z">
                                </path>
                                <path d="M178.918,112.796c3.276,2.381,7.739,2.28,10.905-0.246l67.269-53.682l-0.298,8.847c-0.167,4.968,3.724,9.131,8.692,9.298 c0.104,0.003,0.206,0.005,0.309,0.005c4.831,0,8.826-3.833,8.99-8.697l1.061-31.466c0.083-2.491-0.869-4.905-2.631-6.667 c-1.762-1.763-4.184-2.719-6.667-2.631l-31.466,1.061c-4.968,0.167-8.859,4.331-8.692,9.298c0.167,4.967,4.314,8.85,9.298,8.692 l8.261-0.278l-59.993,47.876l-68.22-49.585c-2.988-2.172-7-2.298-10.117-0.317L4.176,108.734 c-4.196,2.665-5.437,8.227-2.772,12.422c1.715,2.7,4.628,4.176,7.605,4.176c1.65,0,3.321-0.454,4.817-1.404l96.276-61.15 L178.918,112.796z">
                                </path>
                            </g>
                        </g>
                    </svg>
                </a>
            </div>
        
            <div class="text-2xl my-3">
                10
            </div>
            
        </div>
        <div>

        </div>
    </div>
  </div>
<!--   <div class="rounded-lg mb-4">
    <div id="chart">
        
      </div>
  </div> -->
 <!--  <div class="grid grid-cols-2 gap-4 mb-4">
    <div class="border-2 border-dashed rounded-lg border-gray-300  h-48 md:h-72"></div>
    <div class="border-2 border-dashed rounded-lg border-gray-300  h-48 md:h-72"></div>
    <div class="border-2 border-dashed rounded-lg border-gray-300  h-48 md:h-72"></div>
    <div class="border-2 border-dashed rounded-lg border-gray-300  h-48 md:h-72"></div>
  </div>
  <div class="border-2 border-dashed rounded-lg border-gray-300  h-96 mb-4"></div>
  <div class="grid grid-cols-2 gap-4">
    <div class="border-2 border-dashed rounded-lg border-gray-300  h-48 md:h-72"></div>
    <div class="border-2 border-dashed rounded-lg border-gray-300  h-48 md:h-72"></div>
    <div class="border-2 border-dashed rounded-lg border-gray-300  h-48 md:h-72"></div>
    <div class="border-2 border-dashed rounded-lg border-gray-300  h-48 md:h-72"></div>
  </div> -->
</main>
<main class="p-6 bg-gray-100 min-h-screen">
    <div class="container mx-auto">
      
      <!-- Dashboard Title -->
      <h1 class="text-2xl font-bold text-black mb-6 flex justify-between items-center">
        <span class="text-transparent">{{ restaurantName }}</span>
        <span class="text-sm text-gray-500">Updated: {{ now | date:'shortTime' }}</span>
      </h1>
  
      <!-- Grid Layout for Cards -->
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
  
        <!-- Revenue Card -->
        <div *ngIf="RevenueData" class="relative p-6 bg-white shadow-lg rounded-lg border-l-4 border-d-red">
          <h2 class="text-lg font-semibold text-gray-700">Revenue (UGX)</h2>
          <p class="text-3xl font-bold mt-2 text-black">UGX {{ RevenueData.total| number }}</p>
         <!--  <p class="text-sm mt-1 text-gray-500">+{{ revenueChangePercentage }}% </p> -->

          <!-- Change Indicator -->
          <div class="absolute top-4 right-4 flex items-center">
            <span class="text-sm font-medium" [ngClass]="RevenueData.month_growth=='up'? 'text-green-600' : 'text-red-600'">
              {{ RevenueData.this_month }}
            </span>
            <svg *ngIf="RevenueData.month_growth=='up'" class="w-5 h-5 text-green-600 ml-2" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" d="M5 15l7-7 7 7"></path>
            </svg>
            <svg *ngIf="RevenueData.month_growth=='down'" class="w-5 h-5 text-red-600 ml-2" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7"></path>
            </svg>
            <span class="text-sm font-medium">This Month</span>
          </div>
        </div>

        <!-- Orders & Breakdown Card -->
        <div *ngIf="OrderData" class="relative p-6 bg-white shadow-lg rounded-lg border-l-4 border-black">
            <h2 class="text-lg font-semibold text-gray-700">Total Orders</h2>
            <p class="text-3xl font-bold mt-2 text-black">{{ OrderData.order_count_overview.total }}</p>
            <!-- <p class="text-sm mt-1 text-gray-500">+{{ ordersChangePercentage }}% This Month</p> -->

            <!-- Change Indicator -->
            <div class="absolute top-4 right-4 flex items-center">
              <span class="text-sm font-medium" [ngClass]="OrderData.month_growth=='up' ? 'text-green-600' : 'text-red-600'">
                {{ OrderData.this_month_orders }}
              </span>
              <svg *ngIf="OrderData.month_growth=='up'" class="w-5 h-5 text-green-600 ml-2" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" d="M5 15l7-7 7 7"></path>
              </svg>
              <svg *ngIf="OrderData.month_growth=='down'" class="w-5 h-5 text-red-600 ml-2" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7"></path>
              </svg>
              <span class="text-sm font-medium">This Month</span>
            </div>

            <!-- Orders Breakdown -->
            <div class="mt-4 flex flex-wrap gap-2 text-xs">
                <span class="bg-green-100 text-green-600 px-3 py-1 rounded-lg">Closed: {{ OrderData.order_count_overview.closed }}</span>
                <span class="bg-red-100 text-red-500 px-3 py-1 rounded-lg">Cancelled: {{ OrderData.order_count_overview.cancelled }}</span>
            </div>
        </div>

        <!-- Active Diners -->
        <div *ngIf="OrderData" class="relative p-6 bg-white shadow-lg rounded-lg border-l-4 border-gray-400">
            <h2 class="text-lg font-semibold text-gray-700">Active Diners</h2>
            <p class="text-3xl font-bold mt-2 text-black">{{ OrderData.diners.total }}</p>
           <!--  <p class="text-sm mt-1 text-gray-500">+{{ activeDinersChangePercentage }}% This Month</p> -->

            <!-- Change Indicator -->
            <div class="absolute top-4 right-4 flex items-center">
              <span class="text-sm font-medium" [ngClass]="OrderData.diners.monthly_growth=='up' ? 'text-green-600' : 'text-red-600'">
                {{ OrderData.diners.monthly }}
              </span>
              <svg *ngIf="OrderData.diners.monthly_growth=='up'" class="w-5 h-5 text-green-600 ml-2" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" d="M5 15l7-7 7 7"></path>
              </svg>
              <svg *ngIf="OrderData.diners.monthly_growth=='down'" class="w-5 h-5 text-red-600 ml-2" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7"></path>
              </svg>
              <span class="text-sm font-medium">This Month</span>
            </div>
        </div>

       <!-- Live Orders & Tables -->
<div *ngIf="OrderData"  class="relative p-6 bg-white shadow-lg rounded-lg border-l-4 border-gray-400">
    <!-- Live Indicator -->
    <div class="absolute top-4 right-4 flex items-center">
        <span class="text-sm font-medium text-green-600">Live</span>
        <svg class="w-3 h-3 text-green-600 animate-pulse ml-2" fill="currentColor" viewBox="0 0 24 24">
            <circle cx="12" cy="12" r="10" fill="currentColor"></circle>
        </svg>
    </div>

    <!-- Card Title -->
    <h2 class="text-lg font-semibold text-gray-700">Live Orders & Tables</h2>

    <!-- Active Orders -->
    <p class="text-lg font-bold text-d-red mt-3">
        Active Orders: {{ OrderData.real_time.active }}
    </p>

    <!-- Tables Data -->
    <p class="text-lg font-bold text-black mt-2">
        Occupied Tables: {{ OrderData.real_time.occupied_tables }} / {{ OrderData.real_time.total_tables }}
    </p>

    <!-- Total Order Items -->
    <p class="text-lg font-bold text-blue-600 mt-2">
        Total Items in Active Orders: {{ OrderData.real_time.distinct_order_items }}
    </p>

    <!-- Subtitle -->
    <p class="text-sm mt-3 text-gray-500">
        Real-time updates with live tracking
    </p>
</div>


        <!-- Frequent Customers -->
        <div *ngIf="OrderData" class="relative p-6 bg-white shadow-lg rounded-lg border-l-4 border-gray-400">
            <h2 class="text-lg font-semibold text-gray-700 mb-4">Top Customers</h2>
            <ul class="divide-y divide-gray-200">
                <li *ngFor="let customer of OrderData?.top_customers?.by_orders" class="py-2 flex justify-between items-center">
                    
                    <p class="text-lg font-medium">{{ customer?.customer__first_name }} {{ customer?.customer__last_name }} {{customer?.customer__first_name?'':customer?.customer__username}}</p>
              <p class="text-sm font-semibold text-gray-800">{{ customer?.total_orders }} Orders</p>
                </li>
            </ul>
        </div>

        <!-- Popular Meals -->
        <div *ngIf="OrderData" class="p-6 bg-white shadow-lg rounded-lg border-l-4 border-gray-400">
          <h2 class="text-lg font-semibold mb-4">Popular Meals</h2>
          <ul class="divide-y divide-gray-200">
            <li *ngFor="let meal of OrderData?.top_items" class="py-2 flex justify-between items-center">
              <p class="text-lg font-medium">{{ meal?.item__name }}</p>
              <p class="text-sm font-semibold text-gray-800">{{ meal?.total_quantity }} Orders</p>
            </li>
          </ul>
        </div>  
        
      </div>
    </div>
</main>


          <!-- Notification Bell 
        <div class="relative">
          <button (click)="showNotification = !showNotification" class="relative p-2">
            <svg class="w-8 h-8 text-d-red" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15 17h5l-1.5-7a6 6 0 00-11.1 0L4 17h5m6 4a3 3 0 01-6 0"></path>
            </svg>
            <span *ngIf="notificationCount > 0" class="absolute top-0 right-0 bg-d-red text-white text-xs font-bold px-2 py-1 rounded-full">
              {{ notificationCount }}
            </span>
          </button>
        </div>-->      
          <!-- Navigation to Detailed Views
        <div *ngIf="false" class="p-6 bg-white shadow-lg rounded-lg col-span-3">
          <h2 class="text-lg font-semibold text-gray-700">More Details</h2>
          <ul class="mt-3 space-y-2 text-d-red">
            <li><a routerLink="/orders" class="hover:underline">📋 View Order Details</a></li>
            <li><a routerLink="/revenue" class="hover:underline">💰 Revenue Breakdown</a></li>
            <li><a routerLink="/tables" class="hover:underline">🍽 Active Tables Overview</a></li>
            <li><a routerLink="/diners" class="hover:underline">👥 View Diner Statistics</a></li>
          </ul>
        </div> -->        <!-- 5-Star Rating Card -->
<div *ngIf="false" class="p-6 bg-white shadow-lg rounded-lg border-l-4 border-d-red">
    <h2 class="text-lg font-semibold text-gray-700">5-Star Reviews</h2>
  
    <!-- Average Rating Display -->
<!--     <div class="flex items-center mt-2">
      <p class="text-3xl font-bold text-black">{{ averageRating }}</p>
      <div class="flex ml-3">
        <ng-container *ngFor="let star of [1,2,3,4,5]">
          <svg class="w-6 h-6" 
               [ngClass]="star <= averageRating ? 'text-yellow-500' : 'text-gray-300'" 
               fill="currentColor" 
               viewBox="0 0 20 20">
            <path d="M9.049 3.12a1 1 0 011.902 0l1.4 3.927 4.052.146a1 1 0 01.57 1.8l-3.028 2.795.92 4.035a1 1 0 01-1.47 1.117L10 14.947l-3.895 2.292a1 1 0 01-1.47-1.117l.92-4.035L2.528 9.02a1 1 0 01.57-1.8l4.052-.146 1.4-3.927z"></path>
          </svg>
        </ng-container>
      </div>
    </div> -->
  
    <!-- Rating Breakdown 
    <div class="mt-4">
      <div *ngFor="let review of fiveStarBreakdown" class="flex items-center text-gray-600 text-sm mb-2">
        
        <div class="flex mr-2">
          <ng-container *ngFor="let star of [1,2,3,4,5]">
            <svg class="w-4 h-4" 
                 [ngClass]="star <= review.rating ? 'text-yellow-500' : 'text-gray-300'" 
                 fill="currentColor" 
                 viewBox="0 0 20 20">
              <path d="M9.049 3.12a1 1 0 011.902 0l1.4 3.927 4.052.146a1 1 0 01.57 1.8l-3.028 2.795.92 4.035a1 1 0 01-1.47 1.117L10 14.947l-3.895 2.292a1 1 0 01-1.47-1.117l.92-4.035L2.528 9.02a1 1 0 01.57-1.8l4.052-.146 1.4-3.927z"></path>
            </svg>
          </ng-container>
        </div>
       
        <p class="font-medium text-black">{{ review.count }}</p>
        <p class="ml-2 text-gray-500">reviews</p>
      </div>
    </div>-->
  </div>