<div class="flex flex-col mt-12 max-w-2xl">
<!--     <div *ngIf="menu_list" class="w-full top-[49px] overflow-x-auto left-0 flex px-6 bg-white z-10">
        <button *ngFor="let s of menu_list;let i =index" (click)="scrollTo(s.name,i)" class="flex items-center justify-between w-full py-3 font-extrabold text-left rtl:text-right border-b border-gray-200">
         <span class="px-2 text-lg text-nowrap" [ngClass]="{'border-b-2 border-d-red':removeUnderscore(currentSection)==s.name}">{{s?.name}}</span>
        
        </button>
    
    </div> -->
      <!-- Category Navigation (Filtered by Search) -->
  <div *ngIf="filteredMenuList && filteredMenuList.length"
  class="w-full top-[49px] overflow-x-auto left-0 flex px-6 bg-white z-10"
>
  <button
    *ngFor="let s of filteredMenuList; let i = index"
    (click)="scrollTo(s.name, i)"
    class="flex items-center justify-between w-full py-3 font-extrabold text-left rtl:text-right border-b border-gray-200"
  >
    <span
      class="px-2 text-lg text-nowrap"
      [ngClass]="{'border-b-2 border-d-red': removeUnderscore(currentSection) === s.name}"
    >
      {{ s?.name }}
    </span>
  </button>
</div>
<!-- Search Bar -->

  <div class="px-6 mt-4 relative">
      <!-- <svg class="absolute left-4 top-1/2 transform -translate-y-1/2 text-gray-400" width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M11 4C7.13 4 4 7.13 4 11C4 14.87 7.13 18 11 18C13.31 18 15.41 16.92 16.72 15.24L20.29 18.71C20.68 19.1 21.31 19.1 21.7 18.71C22.09 18.32 22.09 17.69 21.7 17.3L18.13 13.82C19.07 12.42 19.5 10.77 19.5 9C19.5 5.13 16.37 2 12.5 2C12.23 2 11.96 2.01 11.7 2.03C11.46 2.01 11.23 2 11 2C7.13 2 4 5.13 4 9C4 12.87 7.13 16 11 16C14.87 16 18 12.87 18 9C18 6.24 15.76 4 13 4H11Z" fill="currentColor"/>
      </svg> -->
      <svg class="absolute left-8 top-1/2 transform -translate-y-1/2 text-gray-400" width="20" height="20"  xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
      </svg>
      <input
        type="text"
        placeholder="Search menu..."
        [(ngModel)]="searchQuery"
        (input)="filterMenu()"
        class="w-full p-2 pl-10 border border-gray-300 rounded-xl"
      />
      <button *ngIf="searchQuery" (click)="clearSearch()" style="font-size: large;" class="absolute right-8 top-2.5  text-gray-400 text-sm p-1 rounded">✕</button>
  </div>
    <div style="height: calc(100dvh - 100px);" *ngIf="filteredMenuList" class="flex flex-col px-6 overflow-y-auto" scrollSpy [spiedTags]="['DIV']" (sectionChange)="onSectionChange($event)" >
        <div id="{{addUnderScore(s.name)}}" *ngFor="let s of filteredMenuList;let is=index; let last=last" [ngClass]="{'min-h-dvh':last}"  class="flex flex-col justify-between w-full font-normal text-left rtl:text-right text-black">
           <span class="font-bold text-xl pt-3">{{s?.name}}</span>
           <div class="flex flex-col" [ngClass]="{'mb-auto':last }">
            <div *ngFor="let i of s?.items" class="py-4 border-b border-gray-200">
                <div class="flex flex-row">
                
                    <div (click)="viewItem(i)" class="p-2 flex-grow">
                        <p class="font-semibold">{{i.name}} </p>
                         <p class="text-sm line-clamp-2 mt-2">{{i.description}}</p>
                         <p class="font-light mt-2">UGX {{i.primary_price|number}} 
                           <!--  <button class="float-end ml-auto absolute right-1" (click)="addItem(i)">
                            <svg width="20px" height="20px" viewBox="0 0 32 32" fill="#000000">
                                <g> 
                                    <g transform="translate(-464.000000, -1087.000000)" [attr.fill]="'#b6252c'">
                                        <path d="M480,1117 C472.268,1117 466,1110.73 466,1103 C466,1095.27 472.268,1089 480,1089 C487.732,1089 494,1095.27 494,1103 C494,1110.73 487.732,1117 480,1117 L480,1117 Z M480,1087 C471.163,1087 464,1094.16 464,1103 C464,1111.84 471.163,1119 480,1119 C488.837,1119 496,1111.84 496,1103 C496,1094.16 488.837,1087 480,1087 L480,1087 Z M486,1102 L481,1102 L481,1097 C481,1096.45 480.553,1096 480,1096 C479.447,1096 479,1096.45 479,1097 L479,1102 L474,1102 C473.447,1102 473,1102.45 473,1103 C473,1103.55 473.447,1104 474,1104 L479,1104 L479,1109 C479,1109.55 479.447,1110 480,1110 C480.553,1110 481,1109.55 481,1109 L481,1104 L486,1104 C486.553,1104 487,1103.55 487,1103 C487,1102.45 486.553,1102 486,1102 L486,1102 Z"> </path> 
                                    </g> 
                                </g> </svg>
                        </button> --></p>
                        
                    </div>
                   
               <div (click)="viewItem(i)" class="w-[150px] ml-auto mr-2">
                     <app-common-image [container]="true" [imgclass]="'rounded-lg ml-auto'" [src]="i.image" [width]="'100'" [height]="'100'"></app-common-image>     
                    </div>
                </div>
           <div class="flex flex-col">
                     
            <button class="float-end ml-auto mt-1" (click)="viewItem(i)">
                <svg width="20px" height="20px" viewBox="0 0 32 32" fill="#000000">
                    <g> 
                        <g transform="translate(-464.000000, -1087.000000)" [attr.fill]="'#b6252c'">
                            <path d="M480,1117 C472.268,1117 466,1110.73 466,1103 C466,1095.27 472.268,1089 480,1089 C487.732,1089 494,1095.27 494,1103 C494,1110.73 487.732,1117 480,1117 L480,1117 Z M480,1087 C471.163,1087 464,1094.16 464,1103 C464,1111.84 471.163,1119 480,1119 C488.837,1119 496,1111.84 496,1103 C496,1094.16 488.837,1087 480,1087 L480,1087 Z M486,1102 L481,1102 L481,1097 C481,1096.45 480.553,1096 480,1096 C479.447,1096 479,1096.45 479,1097 L479,1102 L474,1102 C473.447,1102 473,1102.45 473,1103 C473,1103.55 473.447,1104 474,1104 L479,1104 L479,1109 C479,1109.55 479.447,1110 480,1110 C480.553,1110 481,1109.55 481,1109 L481,1104 L486,1104 C486.553,1104 487,1103.55 487,1103 C487,1102.45 486.553,1102 486,1102 L486,1102 Z"> </path> 
                        </g> 
                    </g> </svg>
            </button>
           </div> 
     
            </div>
    
           </div>
        </div>
        <div *ngIf="(!filteredMenuList || !filteredMenuList.length)&& menu_list.length" class="flex flex-col items-center justify-center h-full w-full">
            <svg width="300px" height="200px" viewBox="0 0 300 200" fill="none" xmlns="http://www.w3.org/2000/svg">
                <!-- Magnifying Glass -->
                <circle cx="100" cy="80" r="50" stroke="#d1d5db" stroke-width="6" fill="none"/>
                <line x1="140" y1="120" x2="180" y2="160" stroke="#d1d5db" stroke-width="6" stroke-linecap="round"/>
              
                <!-- Sad Face -->
                <circle cx="100" cy="80" r="5" fill="#d1d5db"/>
                <path d="M90 95 Q100 105 110 95" stroke="#d1d5db" stroke-width="4" stroke-linecap="round" fill="none"/>
              
                <!-- Text -->
                <text x="50%" y="180" text-anchor="middle" fill="#6b7280" font-size="16px">No items found</text>
              </svg>
              

        </div>
    </div>
    </div>
        <div  *ngIf="basketItems.length>0" id="outer" class="bottom-14">
            <div id="inner">
                <div
        class="absolute bottom-auto left-auto right-0 top-0 z-10 inline-block -translate-y-1/2 translate-x-2/4 rotate-0 skew-x-0 skew-y-0 scale-x-100 scale-y-100 whitespace-nowrap rounded-full bg-black px-2.5 py-1 text-center align-baseline text-xs font-bold leading-none text-white">
        {{QuantitySum}}
      </div>
     <button title="Contact Sale"  routerLink="/diner/basket"
            class="align-middle  bg-[#B6252C] px-5 h-10 rounded drop-shadow-lg flex justify-center items-center text-white text-sm font-bold">VIEW BASKET</button>
       
        </div>
        </div>
       
     <!--    <h1>Shopping Cart using Signals Angular</h1>
    
        <div *ngFor="let item of basketItems" class="cart-item">
          <div class="product-info">
           
            {{item|json}}
          </div>
          <button (click)="removeItem(item.itemId)" class="remove-button">Remove</button>
          
        </div>
    
        <hr>
    
        <div class="total-amount">
          <strong>Total:</strong> UGX{{ totalAmount }}
        </div>
      
       
      </div> -->
      <div *ngIf="showModal" class="opacity-25 fixed inset-0 z-40 bg-black"></div>
      <!-- Edit user modal -->
      <div *ngIf="showModal&&selected_item"  tabindex="-1"  class="bg-white fixed top-0 left-0 right-0 z-50 items-center justify-center overflow-x-hidden overflow-y-auto md:inset-0" [ngClass]="{'w-1/3 mx-auto':restaurant_id,'w-full':restaurant}">
          <div  class="flex flex-col h-dvh mx-auto my-auto rounded-lg" [ngClass]="{'w-screen':restaurant,'w-[calc(100vw/3)]':restaurant_id}">
            <!-- Modal content -->
          
                <div [ngClass]="{'shadow-lg':currentSectionItem}" class=" sticky top-0 flex items-start justify-between p-4 rounded-t bg-white z-10">
                    <span class="text-2xl font-black">{{currentSectionItem}}</span>
                   
                   <button type="button" (click)="closeModal()" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center" data-modal-hide="editUserModal">
                    <svg class="w-3 h-3"  xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
                </div>
                <!-- Modal body -->
                 <div class="flex flex-col flex-grow overflow-y-auto">
                <div class="flex flex-col flex-grow overflow-y-auto align-top" scrollSpy [spiedTags]="['DIV']" (sectionChange)="onSectionItemChange($event)">
            <div class="mx-auto py-6">
                     <app-common-image [imgclass]="'rounded-lg'" [src]="selected_item.image" [width]="'300'" [height]="'300'"></app-common-image>   
                    </div>
                 <!--    <div class='mx-auto space-x-2'>
                                        <span class="bg-gray-100 text-black text-xs font-normal inline-flex items-center px-2.5 py-0.5 rounded border-gray-800">
                        <svg class="w-2.5 h-2.5 me-1.5"  xmlns="http://www.w3.org/2000/svg" fill="red" viewBox="0 0 20 20">
                        <path d="M10 0a10 10 0 1 0 10 10A10.011 10.011 0 0 0 10 0Zm3.982 13.982a1 1 0 0 1-1.414 0l-3.274-3.274A1.012 1.012 0 0 1 9 10V6a1 1 0 0 1 2 0v3.586l2.982 2.982a1 1 0 0 1 0 1.414Z"/>
                        </svg>
                        Gluten Free
                        </span>
                        <span class="bg-gray-100 text-black text-xs font-normal inline-flex items-center px-2.5 py-0.5 rounded border-gray-800">
                            <svg class="w-2.5 h-2.5 me-1.5"  xmlns="http://www.w3.org/2000/svg" fill="red" viewBox="0 0 20 20">
                            <path d="M10 0a10 10 0 1 0 10 10A10.011 10.011 0 0 0 10 0Zm3.982 13.982a1 1 0 0 1-1.414 0l-3.274-3.274A1.012 1.012 0 0 1 9 10V6a1 1 0 0 1 2 0v3.586l2.982 2.982a1 1 0 0 1 0 1.414Z"/>
                            </svg>
                            Nut Allergy
                            </span>
                    </div> -->
                    <div class='mx-auto space-x-2'>
                      <span *ngFor="let a of selected_item.allergens" class="bg-gray-100 text-black text-xs font-normal inline-flex items-center px-2.5 py-0.5 rounded border-gray-800">
      <!-- <svg class="w-2.5 h-2.5 me-1.5"  xmlns="http://www.w3.org/2000/svg" fill="red" viewBox="0 0 20 20">
      <path d="M10 0a10 10 0 1 0 10 10A10.011 10.011 0 0 0 10 0Zm3.982 13.982a1 1 0 0 1-1.414 0l-3.274-3.274A1.012 1.012 0 0 1 9 10V6a1 1 0 0 1 2 0v3.586l2.982 2.982a1 1 0 0 1 0 1.414Z"/>
      </svg> -->
      <svg class="w-2.5 h-2.5 me-1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g id="Warning / Triangle_Warning"> <path id="Vector" d="M12 9.00006V13.0001M4.37891 15.1999C3.46947 16.775 3.01489 17.5629 3.08281 18.2092C3.14206 18.7729 3.43792 19.2851 3.89648 19.6182C4.42204 20.0001 5.3309 20.0001 7.14853 20.0001H16.8515C18.6691 20.0001 19.5778 20.0001 20.1034 19.6182C20.5619 19.2851 20.8579 18.7729 20.9172 18.2092C20.9851 17.5629 20.5307 16.775 19.6212 15.1999L14.7715 6.79986C13.8621 5.22468 13.4071 4.43722 12.8135 4.17291C12.2957 3.94236 11.704 3.94236 11.1862 4.17291C10.5928 4.43711 10.1381 5.22458 9.22946 6.79845L4.37891 15.1999ZM12.0508 16.0001V16.1001L11.9502 16.1003V16.0001H12.0508Z" stroke="red" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g> </g>
      </svg>
      {{a}}
      </span>
    <!--   <span class="bg-gray-100 text-black text-xs font-normal inline-flex items-center px-2.5 py-0.5 rounded border-gray-800">
          <svg class="w-2.5 h-2.5 me-1.5"  xmlns="http://www.w3.org/2000/svg" fill="red" viewBox="0 0 20 20">
          <path d="M10 0a10 10 0 1 0 10 10A10.011 10.011 0 0 0 10 0Zm3.982 13.982a1 1 0 0 1-1.414 0l-3.274-3.274A1.012 1.012 0 0 1 9 10V6a1 1 0 0 1 2 0v3.586l2.982 2.982a1 1 0 0 1 0 1.414Z"/>
          </svg>
          Nut Allergy
          </span> -->
  </div>
                       <div [id]="selected_item.name">
                            <p class="text-2xl font-black pt-6 px-6">{{selected_item.name}} </p>
                             <p class="px-6">{{selected_item.description}}</p>
                             <p class="font-semibold mt-2 text-xl px-6">UGX {{selected_item.primary_price|number}}</p>
        
                                       
                     <div class="px-6 pt-6" *ngIf="selected_item.has_options">                   
                        <div *ngFor="let o of selected_item?.options?.options;let i = index" class="relative flex items-start mb-2">
                            <div *ngIf="o?.selectable" class="w-full">
                                <p class="font-semibold mb-2">{{o?.name}}</p>
                                <div *ngFor="let op of o.choices;let oi=index;" class=" mb-1 w-full">
                                <input id="{{op}}" type="radio" [value]="op" class="hidden peer" (change)="SetChoice($event.target,i,oi,o,op)" name="{{o.name}}">
                                <label for="{{op}}" class="inline-flex items-center justify-between w-full p-2 font-medium tracking-tight border rounded-lg cursor-pointer bg-brand-light text-brand-black border-[#B6252C] peer-checked:border-[#B6252C] peer-checked:bg-[#B6252C] peer-checked:text-white peer-checked:font-semibold peer-checked:underline peer-checked:decoration-brand-dark decoration-2">
                                    <div class="flex items-stretch justify-between w-full">
                                        <div class="text-sm text-brand-black float-left">+ {{op}} </div>
    <span class="float-right">{{o.cost||''}}</span>
                                    </div>
                                </label>
                            </div>
                            </div>
                            <div *ngIf="!o?.selectable" class="w-full">
                            <input id="{{o.name}}" (change)="SetChoice($event.target,i,null,o)" type="checkbox" class="hidden peer" name="{{o.name}}">
                            <label for="{{o.name}}" class="inline-flex items-center justify-between w-full p-2 font-medium tracking-tight border rounded-lg cursor-pointer bg-brand-light text-brand-black border-[#B6252C] peer-checked:border-[#B6252C] peer-checked:bg-[#B6252C] peer-checked:text-white peer-checked:font-semibold peer-checked:decoration-brand-dark decoration-2">
                                <div class="flex items-stretch justify-between w-full">
                                    <div class="text-sm text-brand-black">+ {{o.name}}</div>
                                    <span class="float-right">{{((o.cost)||'')|number}}</span>
                                </div>
                            </label>
                            </div>
                        </div>
                     </div>
                     <div>
                        
    
    
                </div>
    
               
                                
            </div>
            </div>
       
            <div class="flex flex-col align-bottom pb-3 px-2 pt-2 border-t border-gray-300 shadow bg-white" [ngClass]="{'w-screen':restaurant,'w-[calc(100vw/3)]':restaurant_id}">
                <div class="custom-number-input h-10 w-32 mx-auto mb-3">
                    <label for="custom-input-number" class="w-full text-gray-700 text-sm font-semibold">
                    </label>
                    <div class="flex flex-row h-10 w-full rounded-lg relative bg-transparent mt-1">
                      <button [disabled]="selected_quantity==1" (click)="selected_quantity>=1?(selected_quantity=selected_quantity-1):false" class=" bg-gray-300 text-gray-600 hover:text-gray-700 hover:bg-gray-400 h-full w-20 rounded-l cursor-pointer outline-none">
                        <span class="m-auto text-2xl font-thin">−</span>
                      </button>
                      <input type="number" class="outline-none focus:outline-none text-center w-full bg-gray-300 font-semibold text-md hover:text-black focus:text-black  md:text-basecursor-default flex items-center text-gray-700 [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none" name="custom-input-number" [value]="selected_quantity">
                    <button (click)="(selected_quantity=selected_quantity+1)" data-action="increment" class="bg-gray-300 text-gray-600 hover:text-gray-700 hover:bg-gray-400 h-full w-20 rounded-r cursor-pointer">
                      <span class="m-auto text-2xl font-thin">+</span>
                    </button>
                  </div>
             </div>
                <button [disabled]="!active_additem" (click)="AddSelectedItem()" type="button" class="relative inline-flex items-center justify-center p-3 font-medium hover:bg-gray-700 active:bg-gray-700 text-white bg-black border-2 disabled:bg-gray-50:text-gray-300 border-gray-500 rounded-full shadow-md w-full">
                         <span>Add Item</span>
               </button>   
           </div>
         </div>
            </div>
            </div>
            