@keyframes tooltip-show {
    0%   {opacity: 0;}
    5%   {visibility: visible;}
    25%  {opacity: 50;}
    50%  {opacity: 75;}
    100% {opacity: 100;}
  }
  .group:hover .xgroup-hover\:visible {
    animation-delay: 0.7s;
    animation-name: tooltip-show;
    animation-duration: 2s;
  }
  .group:hover .group-hover\:visible {
    visibility: visible;
}