<div class="min-h-full shadow-md sm:rounded-lg">
    <div class="flex items-center justify-between flex-column md:flex-row flex-wrap space-y-4 md:space-y-0 py-4 bg-white border">
        <div class="ml-3">
            <button (click)="NewUser()" class="inline-flex items-center text-d-red border-d-red border focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm px-3 py-1.5" type="button">
                <span class="sr-only">Action button</span>
                New User
                <!-- <svg class="w-2.5 h-2.5 ms-2.5"  xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                </svg> -->
            </button>
         
            <!-- Dropdown menu
            <div id="dropdownAction" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44">
                <ul class="py-1 text-sm text-gray-700" aria-labelledby="dropdownActionButton">
                    <li>
                        <a href="#" class="block px-4 py-2 hover:bg-gray-100">Reward</a>
                    </li>
                    <li>
                        <a href="#" class="block px-4 py-2 hover:bg-gray-100">Promote</a>
                    </li>
                    <li>
                        <a href="#" class="block px-4 py-2 hover:bg-gray-100">Activate account</a>
                    </li>
                </ul>
                <div class="py-1">
                    <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Delete User</a>
                </div>
            </div> -->
        </div>
        <label for="table-search" class="sr-only">Search</label>
        <div class="relative mr-3">
            <div class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
                <svg class="w-4 h-4 text-gray-500"  xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                </svg>
            </div>
            <input (keyup)="Search(search)" [(ngModel)]="search" [ngModelOptions]="{standalone: true}"  type="text" style="padding-top:.5rem; padding-bottom: 0.5rem;padding-right: 0.75rem;" id="table-search-users" class="block pt-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500" placeholder="Search for users">
        </div>
    </div>
    <table class="w-full text-sm text-left rtl:text-right text-gray-500">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50">
            <tr>
               <!--  <th scope="col" class="p-4">
                    <div class="flex items-center">
                        <input id="checkbox-all-search" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500">
                        <label for="checkbox-all-search" class="sr-only">checkbox</label>
                    </div>
                </th> -->
                <th scope="col" class="px-6 py-3">
                  Name
                </th>
                <!-- --> <th scope="col" class="px-6 py-3">
                    Phone number
                </th>
<!--                 <th scope="col" class="px-6 py-3 w-1/4">
                    Email
                </th> -->
                <th scope="col" class="px-6 py-3">
                   Roles
                </th>
       <!-- -->         <th scope="col" class="px-6 py-3">
                 Status
                </th>
                <th scope="col" class="px-6 py-3 w-[150px]">
                    Action
                </th> 
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let l of users">
<td class="px-6 py-4">{{l.name}} </td>
<td class="px-6 py-4">+{{l?.user?.phone_number}}</td>
<!-- <td class="px-6 py-4">{{l?.user?.email}}</td> -->
<td class="px-6 py-4"><span *ngFor="let r of l.roles">{{r| titlecase }} </span></td>
<td  class="px-6 py-4">
    <div style="display: ruby;" class="n-wrap">
    <div class="h-2.5 w-2.5 rounded-full me-2" [ngClass]="{'bg-green-500':l.active,'bg-gray-500':!(l?.active)}"></div> <span class="capitalize">{{l.active?'Active':'Inactive'}}</span> 
</div>
</td>
<td class="px-6 py-4 inline-block space-x-1">
    <a  title="View" (click)="View(l)" class="relative group inline-block border border-gray-400 text-white px-1 py-1 rounded-lg hover:bg-gray-100 transition duration-300 ease-in-out transform hover:scale-105 cursor-pointer">
        <svg width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <title></title> <g id="Complete"> <g id="info-circle"> <g> <circle cx="12" cy="12" data-name="--Circle" fill="none" id="_--Circle" r="10" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></circle> <line fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" x1="12" x2="12" y1="12" y2="16"></line> <line fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" x1="12" x2="12" y1="8" y2="8"></line> </g> </g> </g> </g></svg>
    </a>
    <a  title="Edit" (click)="Edit(l)" class="relative group inline-block border border-gray-400 text-white px-1 py-1 rounded-lg hover:bg-gray-100 transition duration-300 ease-in-out transform hover:scale-105 cursor-pointer">

        <svg width="24px" height="24px" viewBox="0 0 24 24" fill="none"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g id="Edit / Edit_Pencil_02"> <path id="Vector" d="M4 16.0001V20.0001L8 20.0001L18.8686 9.13146L18.8695 9.13061C19.265 8.73516 19.4628 8.53736 19.5369 8.3092C19.6021 8.10835 19.6022 7.89201 19.5369 7.69117C19.4627 7.46284 19.2646 7.26474 18.8686 6.86872L17.1288 5.12892C16.7345 4.7346 16.5369 4.53704 16.3091 4.46301C16.1082 4.39775 15.8919 4.39775 15.691 4.46301C15.463 4.53709 15.2652 4.73488 14.8704 5.12976L14.8686 5.13146L4 16.0001Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g> </g></svg>
    </a>
                       <a title="Delete" (click)="DeleteUser(l)"  class="relative group inline-block border border-gray-400 text-white px-1 py-1 rounded-lg hover:bg-gray-100 transition duration-300 ease-in-out transform hover:scale-105 cursor-pointer">
                        <svg width="24px" height="24px" viewBox="0 0 24 24" fill="none"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g id="Interface / Trash_Empty"> <path id="Vector" d="M6 6V17.8C6 18.9201 6 19.4798 6.21799 19.9076C6.40973 20.2839 6.71547 20.5905 7.0918 20.7822C7.5192 21 8.07899 21 9.19691 21H14.8031C15.921 21 16.48 21 16.9074 20.7822C17.2837 20.5905 17.5905 20.2839 17.7822 19.9076C18 19.4802 18 18.921 18 17.8031V6M6 6H8M6 6H4M8 6H16M8 6C8 5.06812 8 4.60241 8.15224 4.23486C8.35523 3.74481 8.74432 3.35523 9.23438 3.15224C9.60192 3 10.0681 3 11 3H13C13.9319 3 14.3978 3 14.7654 3.15224C15.2554 3.35523 15.6447 3.74481 15.8477 4.23486C15.9999 4.6024 16 5.06812 16 6M16 6H18M18 6H20" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g> </g></svg>
                       </a>
</td>
            </tr>
         <!--    <tr *ngFor="let l of list" (click)="toggleModal(l,true,null,'nav');$event.stopPropagation();" class="bg-white border-b hover:bg-gray-50 hover:border-dashed hover:border-gray-500 hover:border-2">
           
                <td scope="row" class="flex items-center px-6 py-4 text-gray-900 whitespace-nowrap">
                    <img *ngIf="l.logo" class="w-10 h-10 rounded-full border" [src]="'https://api-dev.dinifyapp.com'+l.logo" alt="{{l.name}}">
                    <div class="ps-3" [routerLink]="[]">
                      <span class="hover:text-d-red hover:underline cursor-pointer text-base font-semibold ell">{{l.name}}</span>
                        
                    </div>  
                </td>
                <td class="px-6 py-4 ell">
                   {{l.location}}
                   </td>
                   <td  class="px-6 py-4 ell">
                    {{l.owner.first_name}} {{l.owner.last_name}}
                   </td>
                <td class="px-6 py-4">
                    <div class="flex items-center">
                        <div class="h-2.5 w-2.5 rounded-full me-2" [ngClass]="{'bg-green-500':l?.status=='active','bg-orange-500':l?.status=='pending','bg-gray-500':(l?.status=='rejected'||l?.status=='inactive')}"></div> <span class="capitalize">{{l?.status}}</span> 
                      
                          
                     
                    </div>
                </td>
                <td class="px-6 py-4 space-x-2 flex flex-row">
                    
                    <a (click)="toggleModal(l,true,'detail');$event.stopPropagation()" title="View Details" type="button" class="font-medium text-blue-600 dark:text-blue-500 hover:underline my-auto">
                        <span class="sr-only">View Details</span>
                        <svg width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <title></title> <g id="Complete"> <g id="info-circle"> <g> <circle cx="12" cy="12" data-name="--Circle" fill="none" id="_--Circle" r="10" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></circle> <line fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" x1="12" x2="12" y1="12" y2="16"></line> <line fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" x1="12" x2="12" y1="8" y2="8"></line> </g> </g> </g> </g></svg>
                    </a>
                    <a *ngIf="l.status=='pending'" (click)="toggleModal(l);$event.stopPropagation()" title="Quick Edit" type="button" class="font-medium text-blue-600 dark:text-blue-500 hover:underline my-auto">
                        <span class="sr-only">Quick Edit</span>
                        <svg fill="#000000" width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <g stroke-linecap="round" stroke-linejoin="round"></g>
                            <g>
                                <path
                                    d="M4.07,14.927a.976.976,0,0,0-.167.25c-.011.023-.023.043-.032.067a.362.362,0,0,0-.019.04l-1.8,5.4A1,1,0,0,0,3,22a1.014,1.014,0,0,0,.316-.051l5.4-1.8c.013,0,.023-.013.036-.017s.041-.021.062-.031a.967.967,0,0,0,.259-.172c.01-.009.024-.012.033-.022l12.6-12.6a1,1,0,0,0,0-1.414l-3.6-3.6a1,1,0,0,0-1.414,0l-12.6,12.6C4.083,14.9,4.08,14.917,4.07,14.927ZM17.4,4.414,19.586,6.6,8.4,17.786,7.307,16.693,6.214,15.6ZM5.237,17.451l.656.656.656.656-1.968.656Z">
                                </path>
                            </g>
                        </svg>
                    </a>

                    <div class="dropdown relative my-auto">
                        <button (click)="$event.stopPropagation()" class="relative z-10 block rounded-md bg-white p-2 focus:outline-none">
                            
                          <svg class="h-5 w-5 text-gray-800" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                          </svg>
                        </button>                
                        <div class="hidden dropdown-content absolute right-0 mt-2777 p-2 w-48 bg-white border rounded-md shadow-xl z-20">
                         
                              <a [routerLink]="[]" *ngIf="l.status=='active'|| l.status=='inactive'" (click)="toggleModal(l);$event.stopPropagation()"  class="flex p-2 text-sm rounded capitalize text-gray-700 hover:bg-blue-500 hover:text-white">
                                <svg fill="#000000" class="h-2.3 w-2.5 mr-3" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <g stroke-linecap="round" stroke-linejoin="round"></g>
                                    <g>
                                        <path
                                            d="M4.07,14.927a.976.976,0,0,0-.167.25c-.011.023-.023.043-.032.067a.362.362,0,0,0-.019.04l-1.8,5.4A1,1,0,0,0,3,22a1.014,1.014,0,0,0,.316-.051l5.4-1.8c.013,0,.023-.013.036-.017s.041-.021.062-.031a.967.967,0,0,0,.259-.172c.01-.009.024-.012.033-.022l12.6-12.6a1,1,0,0,0,0-1.414l-3.6-3.6a1,1,0,0,0-1.414,0l-12.6,12.6C4.083,14.9,4.08,14.917,4.07,14.927ZM17.4,4.414,19.586,6.6,8.4,17.786,7.307,16.693,6.214,15.6ZM5.237,17.451l.656.656.656.656-1.968.656Z">
                                        </path>
                                    </g>
                                </svg>  Edit
                              </a>
                            <a *ngIf="l?.status=='pending'" [routerLink]="[]" (click)="changeApprovalStatus('Approve','active',l);$event.stopPropagation()" class="flex p-2 rounded text-sm capitalize text-gray-700 hover:bg-blue-500 hover:text-white">
                            <div class="h-2.5 w-2.5 rounded-full me-2 bg-green-500 my-auto"></div> Approve
                          </a>
                          <a *ngIf="l?.status=='inactive'" [routerLink]="[]" (click)="changeApprovalStatus('Activate','active',l);$event.stopPropagation()" class="flex p-2 rounded text-sm capitalize text-gray-700 hover:bg-blue-500 hover:text-white">
                            <div class="h-2.5 w-2.5 rounded-full me-2 bg-green-500 my-auto"></div> Activate
                          </a>
                          <a *ngIf="l?.status=='pending'" [routerLink]="[]"  (click)="changeApprovalStatus('Reject','rejected',l);$event.stopPropagation()" class="flex p-2 rounded text-sm capitalize text-gray-700 hover:bg-blue-500 hover:text-white">
                            <div class="h-2.5 w-2.5 rounded-full me-2 bg-gray-500 my-auto"></div>Reject
                          </a>
                          <a *ngIf="l?.status=='active'" [routerLink]="[]"  (click)="changeApprovalStatus('Deactivate','inactive',l);$event.stopPropagation()" class="flex p-2 rounded text-sm capitalize text-gray-700 hover:bg-blue-500 hover:text-white">
                            <div class="h-2.5 w-2.5 rounded-full me-2 bg-gray-500 my-auto"></div>Deactivate
                          </a>
                        </div>
                      </div>
                </td>
            </tr>
        </tbody> -->
    </table>
    <div *ngIf="showModal" class="opacity-25 fixed inset-0 z-40 bg-black"></div>
    
    <div *ngIf="showModal"  tabindex="-1"   class="p-4 fixed top-0 left-0 right-0 z-50 items-center justify-center w-full overflow-x-hidden overflow-y-auto md:inset-0 h-dvh max-h-full">
        <div class="relative max-h-full max-w-2xl mx-auto my-auto">
           
            <!-- <div *ngIf="restModal" class="relative bg-white rounded-lg shadow">
                <div class="flex items-start justify-between px-4 border-b rounded-t">
                    <h3 class="flex flex-row p-2">
                      <img *ngIf="rest?.logo" class="w-10 h-10 rounded-full border" [src]="'https://api-dev.dinifyapp.com'+rest?.logo" alt="{{rest?.name}}"> <span class="font-semibold text-black text-xl my-auto ml-4">{{rest?.name}}</span>
                      </h3>
                   
                   <button type="button" (click)="closeModal()" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center" data-modal-hide="editUserModal">
                    <svg class="w-3 h-3"  xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
                </div>
               
                <router-outlet></router-outlet>
                    
            
            </div> -->
            <!-- <h1 class="text-xl text-center font-bold leading-tight tracking-tight text-gray-900 md:text-2xl">
                Create an account
            </h1> -->
            
            <form *ngIf="!EditForm && !details" [formGroup]="RegisterForm" (ngSubmit)="RegisterForm.valid?Register():is_submitted=true" class="space-y-2 md:space-y-4 relative bg-white rounded-lg shadow">
                <div class="flex items-start justify-between p-4 border-b rounded-t">
                    <h3 class="text-xl font-semibold text-gray-900 ">
                        New User
                    </h3>
                   <button type="button" (click)="closeModal()" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center" data-modal-hide="editUserModal">
                    <svg class="w-3 h-3"  xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
                </div>
                <!-- Modal body -->
                <div class="p-6 space-y-6">
                    <div class="space-y-2 md:space-y-4">
                <div *ngIf="!user_id&&checked">
                    <label for="first_name" class="block mb-1 text-sm font-medium text-gray-900">First name <span class="text-d-red">*</span></label>
                    <input type="text" formControlName="first_name" id="first_name" class="bg-gray-50 border border-gray-300 placeholder:text-xs text-gray-900 sm:text-sm rounded focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 " placeholder="Enter your first name">
                    <div *ngIf="is_submitted && RegisterForm.get('first_name')?.errors" class="text-d-red text-xs">
                        <div *ngIf="RegisterForm.get('first_name')?.errors?.['required']">First name is required</div>
                    </div>
                </div>
                <div *ngIf="!user_id&&checked">
                    <label for="last_name" class="block mb-1 text-sm font-medium text-gray-900">Last name <span class="text-d-red">*</span></label>
                    <input type="text" id="last_name" formControlName="last_name" class="bg-gray-50 border border-gray-300 placeholder:text-xs text-gray-900 sm:text-sm rounded focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 " placeholder="Enter your last name">
                    <div *ngIf="is_submitted && RegisterForm.get('last_name')?.errors" class="text-d-red text-xs">
                        <div *ngIf="RegisterForm.get('last_name')?.errors?.['required']">Last name is required</div>
                    </div>
                </div>
              <!-- -->  <div *ngIf="!user_id&&checked">
                    <label for="email" class="block mb-1 text-sm font-medium text-gray-900">Your email</label>
                    <input type="email" formControlName="email" id="email" class="bg-gray-50 border border-gray-300 placeholder:text-xs text-gray-900 sm:text-sm rounded focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 " placeholder="name@company.com">
                    <div *ngIf="is_submitted && RegisterForm.get('email')?.errors" class="text-d-red text-xs">
                        <div *ngIf="RegisterForm.get('email')?.errors?.['required']">Email is required</div>
                    </div>
                </div> 
                <div>
                  <label for = "phone" class="block mb-1 text-sm font-medium text-gray-900">Phone <span class="text-d-red">*</span></label>
                <intl-telephone-input [class]="(is_submitted && RegisterForm.get('phone')?.errors?.['required']?'border border-d-red':'')" [cssClass]="'rounded '+(is_submitted && RegisterForm.get('phone')?.errors?.['required']?'border border-d-red':'')" [preferredCountries]="preferredCountries" [selectedCountryISO]="CountryISO.Uganda" [enableAutoCountrySelect]="true" [enablePlaceholder]="true" (onChange)="onInputChange($event)">
                </intl-telephone-input>  
                </div>
                
               <!--  <div *ngIf="!user_id&&checked">
                    <label for="password" class="block mb-1 text-sm font-medium text-gray-900">Password</label>
                    <input type="password" formControlName="password" id="password" placeholder="••••••••"  class="bg-gray-50 border placeholder:text-xs border-gray-300 text-gray-900 sm:text-sm rounded focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 " required="">
                </div>
                <div *ngIf="!user_id&&checked">
                    <label for="confirm-password" class="block mb-1 text-sm font-medium text-gray-900">Confirm password</label>
                    <input type="password" formControlName="confirm-password" id="confirm-password" placeholder="••••••••" class="bg-gray-50 placeholder:text-xs border border-gray-300 text-gray-900 sm:text-sm rounded focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 " required="">
                </div> -->
                <div *ngIf="checked">
                    <label for="preferred_subscription_method" class="block mb-2 text-sm font-medium">Roles</label>
                    <select id="preferred_subscription_method" formControlName="roles"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                       
                        <option *ngFor="let c of roles" [value]="c">{{c|titlecase}}</option>
                    </select>
                </div>
                 <!-- <div class="flex items-start">
                    <div class="flex items-center h-5">
                      <input id="terms" formControlName="ok" aria-describedby="terms" type="checkbox" class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300">
                    </div>
                   <div class="ml-3 text-sm">
                      <label for="terms" class="font-light text-gray-500">I accept the <a class="font-medium text-d-red hover:underline" href="#">Terms and Conditions</a></label>
                    </div> 
                </div>-->
                <button type="submit" class="w-full text-white bg-d-red hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded text-sm px-5 py-2.5 text-center">{{checked?'Save':'Next'}}</button>
                <!-- <p class="text-sm font-light text-gray-500">
                    Already have an account? <a [routerLink]="['/login']" class="font-medium text-d-red hover:underline">Login here</a>
                </p> -->
                </div>
                </div>
              
            </form>
            <form *ngIf="EditForm" [formGroup]="EditForm" (ngSubmit)="EditForm.valid?SaveEdit():is_submitted=true" class="space-y-2 md:space-y-4 relative bg-white rounded-lg shadow">
                <div class="flex items-start justify-between p-4 border-b rounded-t">
                    <h3 class="text-xl font-semibold text-gray-900 ">
                        Edit User - {{EditForm?.get('name')?.value}}
                    </h3>
                   <button type="button" (click)="closeModal()" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center" data-modal-hide="editUserModal">
                    <svg class="w-3 h-3"  xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
                </div>
                <!-- Modal body -->
                <div class="p-6 space-y-6">
                    <div class="space-y-2 md:space-y-4">
                        <div>
                            <label for="preferred_subscription_method" class="block mb-2 text-sm font-medium">Role</label>
                            <select id="preferred_subscription_method" formControlName="roles"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                               
                                <option *ngFor="let c of roles" [value]="c">{{c|titlecase}}</option>
                            </select>
                        </div>
                        <div>
                            <label for="preferred_subscription_method" class="block mb-2 text-sm font-medium">Status</label>
                            <select id="preferred_subscription_method" formControlName="active"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                               
                                <option [value]="'true'">Active</option>
                                <option [value]="'false'">Inactive</option>
                            </select>
                        </div>
                        </div>

                        </div>
                        
                <button type="submit" class="w-full text-white bg-d-red hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded text-sm px-5 py-2.5 text-center">Save</button>
           
            </form>
            <div *ngIf="details" class="relative bg-white rounded-lg shadow">
                <div class="flex items-start justify-between p-4 border-b rounded-t">
                    <h3 class="flex flex-row">
                    <!--   <img *ngIf="details.logo" class="w-10 h-10 rounded-full border" [src]="'https://api-dev.dinifyapp.com'+details.logo" alt="{{details.name}}"> <span class="font-semibold text-black text-xl my-auto ml-4">{{details.name}}</span> -->
                       Employee Details
                    </h3>
                   <button type="button" (click)="closeModal()" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center" data-modal-hide="editUserModal">
                    <svg class="w-3 h-3"  xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
                </div>
                <div>
                    <table class="w-full text-sm leading-5">
                      <thead class="bg-gray-100">
                        <tr>
                          <th class="py-3 px-4 text-left font-medium text-gray-600 w-1/3">Name</th>
                          <td class="py-3 px-4 text-left font-medium text-gray-600">{{details.name}}</td>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th class="py-3 px-4 text-left font-medium text-gray-600">Phone number</th>
                          <td class="py-3 px-4 text-left">+{{details.user?.phone_number}}</td>
                        </tr>
                       <!--  <tr class="bg-gray-50">
                          <td class="py-3 px-4 text-left font-medium text-gray-600"></td>
                          <td class="py-3 px-4 text-left">{{details.user?.email}}</td>
                        </tr> -->
                        <tr>
                          <td class="py-3 px-4 text-left font-medium text-gray-600">Email</td>
                          <td class="py-3 px-4 text-left">{{details.user?.email}}</td>
                        </tr>
                        <tr class="bg-gray-50">
                          <td class="py-3 px-4 text-left font-medium text-gray-600">Roles</td>
                          <td class="py-3 px-4 text-left"><span *ngFor="let r of details.roles">{{r| titlecase }} </span></td>
                        </tr>
                        <tr>
                            <td class="py-3 px-4 text-left font-medium text-gray-600">Status</td>
                            <td class="py-3 px-4 text-left">
                                <div style="display: ruby;">
                                    <div class="h-2.5 w-2.5 rounded-full me-2" [ngClass]="{'bg-green-500':details.active,'bg-gray-500':!(details.active)}"></div> <span class="capitalize">{{details.active?'Active':'Inactive'}}</span> 
                                </div>
                            </td>
                          </tr>
                      
                     
                      </tbody>
                    </table>
                  </div>
        </div>
    </div>
</div>