
<div class="w-full relative" (click)="$event.stopImmediatePropagation();">
  <input
    id="autocompleteInput"
    [placeholder]="placeholder"
    class="px-5 py-3 w-full border border-gray-300 rounded-md
    bg-gray-50 placeholder:text-xs text-gray-900 sm:text-sm rounded focus:ring-primary-600 focus:border-primary-600 block p-2.5"
    (keyup)="onkeyUp($event)"
  />
  <div id="dropdown" class="w-full h-60 border border-gray-300 rounded-md bg-white absolute overflow-y-auto hidden">
    <div *ngFor="let c of filteredCountries" (click)="selectOption(c[column],c?.id)" class="px-5 py-3 border-b border-gray-200 text-stone-600 cursor-pointer hover:bg-slate-100 transition-colors">
  {{c[column]}} <span class="float-end">{{c['primary_price']|number}}</span>
  
    </div>
  </div>
</div>
