<div class="overflow-x-auto shadow-md sm:rounded-lg">
    <div class="flex items-center justify-between flex-column md:flex-row flex-wrap space-y-4 md:space-y-0 py-4 bg-white">
        <div class="ml-3 flex flex-row w-full">
            <div class="text-xl font-bold mt-3">Reviews
                <div *ngIf="summary&&false" class="p-4 border border-gray-300 rounded-lg max-w-sm mx-auto">
                    <!-- <h3 class="text-lg font-semibold text-gray-700 mb-2">Star Rating Summary</h3> -->
                    <p class="text-sm text-gray-600">Total Ratings: <span class="font-medium">{{ summary.total_ratings }}</span></p>
                    <p *ngIf="summary.average_rating" class="text-sm text-gray-600 mb-4">Average Rating: <span class="font-medium">{{ summary.average_rating.toFixed(1) }}</span> / 5</p>
                    
                    <div class="space-y-2">
                       
                          <div class="space-y-1">
                      <div class="flex justify-between text-sm text-gray-600">
                        <span>5 Star:</span>
                        <span>{{ summary.five_star_percent.toFixed(1) }}%</span>
                      </div>
                      <div class="w-full bg-gray-200 rounded-full h-2.5">
                        <div class="bg-d-red h-2.5 rounded-full"
                          [style.width.%]="summary.five_star_percent"></div>
                      </div>
                      </div>
                      <div class="space-y-1">
                      <div class="flex justify-between text-sm text-gray-600">
                        <span>4 Star:</span>
                        <span>{{ summary.four_star_percent.toFixed(1) }}%</span>
                      </div>
                      <div class="w-full bg-gray-200 rounded-full h-2.5">
                        <div class="bg-d-red h-2.5 rounded-full"
                          [style.width.%]="summary.four_star_percent"></div>
                      </div>
                      </div>
                      <div class="space-y-1">
                      <div class="flex justify-between text-sm text-gray-600">
                        <span>3 Star:</span>
                        <span>{{ summary.three_star_percent.toFixed(1) }}%</span>
                      </div>
                      <div class="w-full bg-gray-200 rounded-full h-2.5">
                        <div class="bg-d-red h-2.5 rounded-full"
                          [style.width.%]="summary.three_star_percent"></div>
                      </div>
                    </div>
                    <div class="space-y-1">
                      <div class="flex justify-between text-sm text-gray-600">
                        <span>2 Star:</span>
                        <span>{{ summary.two_star_percent.toFixed(1) }}%</span>
                      </div>
                      <div class="w-full bg-gray-200 rounded-full h-2.5">
                        <div class="bg-d-red h-2.5 rounded-full"
                          [style.width.%]="summary.two_star_percent"></div>
                      </div>
                    </div>
                    <div class="space-y-1">
                      <div class="flex justify-between text-sm text-gray-600">
                        <span>1 Star:</span>
                        <span>{{ summary.one_star_percent .toFixed(1) }}%</span>
                      </div>
                      <div class="w-full bg-gray-200 rounded-full h-2.5">
                        <div class="bg-d-red h-2.5 rounded-full"
                          [style.width.%]="summary.one_star_percent"></div>
                      </div>
                    </div>
                    </div>
                  </div>
            </div>  
            <div class="ml-auto mt-3 m-2 mr-6 flex flex-row">
                <!-- <label for="tabs" class="text-gray-700 my-auto mr-2">Orders:</label> -->
                <select id="tabs" class="bg-gray-50 border rounded border-gray-300 text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                    <option>Today</option>
                    <option>Yesterday</option>
                    <option>Last Week</option>
                </select>
              </div>
            <!-- Dropdown menu
            <div id="dropdownAction" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44">
                <ul class="py-1 text-sm text-gray-700" aria-labelledby="dropdownActionButton">
                    <li>
                        <a href="#" class="block px-4 py-2 hover:bg-gray-100">Reward</a>
                    </li>
                    <li>
                        <a href="#" class="block px-4 py-2 hover:bg-gray-100">Promote</a>
                    </li>
                    <li>
                        <a href="#" class="block px-4 py-2 hover:bg-gray-100">Activate account</a>
                    </li>
                </ul>
                <div class="py-1">
                    <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Delete User</a>
                </div>
            </div> -->
        </div>
  <!--       <label for="table-search" class="sr-only">Search</label>
        <div class="relative mr-3">
            <div class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
                <svg class="w-4 h-4 text-gray-500"  xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                </svg>
            </div>
            <input type="text" id="table-search-users" class="block pt-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500" placeholder="Search for users">
        </div> -->
    </div>
<!--     <div>
        <div class="flex items-center mb-2">
            <svg class="w-4 h-4 text-yellow-300 me-1"  xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
            </svg>
            <svg class="w-4 h-4 text-yellow-300 me-1"  xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
            </svg>
            <svg class="w-4 h-4 text-yellow-300 me-1"  xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
            </svg>
            <svg class="w-4 h-4 text-yellow-300 me-1"  xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
            </svg>
            <svg class="w-4 h-4 text-gray-300 me-1 dark:text-gray-500"  xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
            </svg>
            <p class="ms-1 text-sm font-medium text-gray-500 dark:text-gray-400">4.95</p>
            <p class="ms-1 text-sm font-medium text-gray-500 dark:text-gray-400">out of</p>
            <p class="ms-1 text-sm font-medium text-gray-500 dark:text-gray-400">5</p>
        </div>
        <p class="text-sm font-medium text-gray-500 dark:text-gray-400">1,745 global ratings</p>
        <div class="flex items-center mt-4">
            <a href="#" class="text-sm font-medium text-blue-600 dark:text-blue-500 hover:underline">5 star</a>
            <div class="w-2/4 h-5 mx-4 bg-gray-200 rounded dark:bg-gray-700">
                <div class="h-5 bg-yellow-300 rounded" style="width: 70%"></div>
            </div>
            <span class="text-sm font-medium text-gray-500 dark:text-gray-400">70%</span>
        </div>
        <div class="flex items-center mt-4">
            <a href="#" class="text-sm font-medium text-blue-600 dark:text-blue-500 hover:underline">4 star</a>
            <div class="w-2/4 h-5 mx-4 bg-gray-200 rounded dark:bg-gray-700">
                <div class="h-5 bg-yellow-300 rounded" style="width: 17%"></div>
            </div>
            <span class="text-sm font-medium text-gray-500 dark:text-gray-400">17%</span>
        </div>
        <div class="flex items-center mt-4">
            <a href="#" class="text-sm font-medium text-blue-600 dark:text-blue-500 hover:underline">3 star</a>
            <div class="w-2/4 h-5 mx-4 bg-gray-200 rounded dark:bg-gray-700">
                <div class="h-5 bg-yellow-300 rounded" style="width: 8%"></div>
            </div>
            <span class="text-sm font-medium text-gray-500 dark:text-gray-400">8%</span>
        </div>
        <div class="flex items-center mt-4">
            <a href="#" class="text-sm font-medium text-blue-600 dark:text-blue-500 hover:underline">2 star</a>
            <div class="w-2/4 h-5 mx-4 bg-gray-200 rounded dark:bg-gray-700">
                <div class="h-5 bg-yellow-300 rounded" style="width: 4%"></div>
            </div>
            <span class="text-sm font-medium text-gray-500 dark:text-gray-400">4%</span>
        </div>
        <div class="flex items-center mt-4">
            <a href="#" class="text-sm font-medium text-blue-600 dark:text-blue-500 hover:underline">1 star</a>
            <div class="w-2/4 h-5 mx-4 bg-gray-200 rounded dark:bg-gray-700">
                <div class="h-5 bg-yellow-300 rounded" style="width: 1%"></div>
            </div>
            <span class="text-sm font-medium text-gray-500 dark:text-gray-400">1%</span>
        </div>   
    </div> -->
    <table class="w-full text-sm text-left rtl:text-right text-gray-500">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50">
            <tr>

                <th scope="col" class="px-6 py-3 w-[18%]">
                   Date
                </th>
                <th scope="col" class="px-6 py-3 w-[10%]">
                    Rating
                  </th>
                <th scope="col" class="px-6 py-3 text-center">
                  Order No.
                </th>
                <th scope="col" class="px-6 py-3 text-center">
                    Customer Name
                </th>
                <th scope="col" class="px-6 py-3 w-1/2">
                    Comment
                </th>
            </tr>
        </thead>
<tbody>
    <tr *ngFor="let r of list;let i=index;" class="border-b bg-white">
        <td class="px-6 py-1">{{r.time_created|date:'medium'}}</td>
        <td class="px-6 py-1">
            <div id="rating" class="flex space-x-2 mb-4">
                <svg *ngFor="let l of lp" [ngClass]="{'text-yellow-400':r.rating>=l}" class="w-8 h-8 text-gray-400
                            cursor-pointer" fill="currentColor" viewBox="0 0 20 20" data-value="1">
                    <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.286 3.95 4.146.018c.958.004 1.355 1.226.584 1.818l-3.36 2.455 1.287 3.951c.3.922-.756 1.688-1.541 1.125L10 13.011l-3.353 2.333c-.785.563-1.841-.203-1.541-1.125l1.287-3.951-3.36-2.455c-.77-.592-.374-1.814.584-1.818l4.146-.018 1.286-3.95z" />
                </svg>
             <!--    <svg [ngClass]="{'text-yellow-400':r.rating>=2}" class="w-8 h-8 text-gray-400
                            cursor-pointer" fill="currentColor" viewBox="0 0 20 20" data-value="2">
                    <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.286 3.95 4.146.018c.958.004 1.355 1.226.584 1.818l-3.36 2.455 1.287 3.951c.3.922-.756 1.688-1.541 1.125L10 13.011l-3.353 2.333c-.785.563-1.841-.203-1.541-1.125l1.287-3.951-3.36-2.455c-.77-.592-.374-1.814.584-1.818l4.146-.018 1.286-3.95z" />
                </svg>
                <svg [ngClass]="{'text-yellow-400':r.rating>=3}" class="w-8 h-8 text-gray-400 
                            cursor-pointer" fill="currentColor" viewBox="0 0 20 20" data-value="3">
                    <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.286 3.95 4.146.018c.958.004 1.355 1.226.584 1.818l-3.36 2.455 1.287 3.951c.3.922-.756 1.688-1.541 1.125L10 13.011l-3.353 2.333c-.785.563-1.841-.203-1.541-1.125l1.287-3.951-3.36-2.455c-.77-.592-.374-1.814.584-1.818l4.146-.018 1.286-3.95z" />
                </svg>
                <svg [ngClass]="{'text-yellow-400':r.rating>=4}" class="w-8 h-8 text-gray-400 
                    cursor-pointer" fill="currentColor" viewBox="0 0 20 20" data-value="4">
                    <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.286 3.95 4.146.018c.958.004 1.355 1.226.584 1.818l-3.36 2.455 1.287 3.951c.3.922-.756 1.688-1.541 1.125L10 13.011l-3.353 2.333c-.785.563-1.841-.203-1.541-1.125l1.287-3.951-3.36-2.455c-.77-.592-.374-1.814.584-1.818l4.146-.018 1.286-3.95z" />
                </svg>
                <svg [ngClass]="{'text-yellow-400':r.rating>=5}" class="w-8 h-8 text-gray-400 
                cursor-pointer" fill="currentColor" viewBox="0 0 20 20" data-value="5">
                    <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.286 
                           3.95 4.146.018c.958.004 1.355 1.226.584 1.818l-3.36
                           2.455 1.287 3.951c.3.922-.756 1.688-1.541 1.125L10 
                           13.011l-3.353 2.333c-.785.563-1.841-
                           .203-1.541-1.125l1.287-3.951-3.36-2.455c-.77-.592-.374-1.814
                           .584-1.818l4.146-.018 1.286-3.95z" />
                </svg> -->
            </div>
           
        </td>
        <td class="px-6 py-1 text-center">{{r.order_number}}</td>
        <td class="px-6 py-1 text-center">{{r.customer}}</td>
        <td class="px-6 py-1">{{r.review}}
            <p #parareviewcontent [innerHTML]="test[i]" class="text-gray-800 text-sm" [ngClass]="{ 'line-clamp-2': !r.isExpanded}">
             
              </p>
             <!--  <a href="#" class="text-blue-500 text-sm hover:underline mt-2 inline-block">
                Read more
              </a> -->
              
              <button *ngIf="r.showReadMore;"
              class="text-d-red text-sm hover:underline mt-2"
              (click)="r.isExpanded= !r.isExpanded"
            >
              {{ r.isExpanded ? 'Read less' : 'Read more' }}
            </button>

        </td>
    </tr>
</tbody>
    </table>

</div>