<div class="px-1 pt-14 flex flex-col min-h-screen">
  <!-- Order Summary Header -->
  <div class="flex items-center w-full text-center py-3 border-b border-gray-200 bg-white relative">
    <!-- Back Button -->
    <a (click)="loc.back()" class="absolute left-0 flex items-center px-3 py-1.5 rounded-md hover:bg-gray-100" aria-label="Go Back">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" class="h-6 w-6">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path>
      </svg>
    </a>
    <span class="mx-auto text-lg font-bold">Your Basket</span>
  </div>

  <app-basket-body></app-basket-body>
</div>
