#outer {
    position: fixed;
    left: 50%;          
  }
  #inner {
    position: relative;
    left: -50%;        
  }
  /* Add this CSS to your stylesheet */
.option-row:nth-child(odd) {
  background-color: #f9f9f9; /* Light gray for even rows */
}

.option-row:nth-child(even) {
  background-color: #ffffff; /* White for odd rows */
}