/* [multiple], [type=date], [type=datetime-local], [type=email], [type=month], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=time], [type=url], [type=week], select, textarea{
padding:.5rem .75rem;
} */
.ps-10 {
    -webkit-padding-start: 2.5rem;
    padding-inline-start: 2.5rem;
}
.dropdown:hover .dropdown-content {display: block;}
td.ell,span.ell{
 max-width: 180px;
 overflow: hidden;
 text-overflow: ellipsis;
 white-space: nowrap;
}


  